<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Basket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-sliding *ngFor="let basketProduct of basketProducts">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>R{{basketProduct.Price}}</ion-card-subtitle>
        <ion-card-title>{{basketProduct.Name}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label slot="start" position="fixed">Quantity</ion-label>
          <ion-label slot="end" position="fixed">{{basketProduct.Quantity}}</ion-label>
        </ion-item>
      </ion-card-content>
      <ion-item>
        <ion-button (click)="deleteBasketProduct(basketProduct)" fill="outline" slot="end"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item>
    </ion-card>
  </ion-item-sliding>
  <ion-button (click)="checkout()" expand="full">Checkout</ion-button>
</ion-content>
